extends ../layout.pug
block content
  .row
    .col-md-12
      h1 Pug - node template engine
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
