extends ../layout.pug
block content
  .row
    .col-md-12
      h1 Simple pug example 
      h3 layout file which is a wrapper for all other pug templates
      ul
        li layout.pu
      h3 partials 
      ul
        li partials/navigation.pug
        li partials/footer.pug
      h3 views accessible through routing per the top navigation
      ul
        li about.pug
        li pricing.pug
