extends ../layout.pug
block content
  h1 Pricing
  .row
    .col-md-4.card
      .pricing-header.mx-auto.text-center.py-2
        h2= "Free"
        p Lorem ipsum sit dolor amet, balun bodor ser vemet talang.
    .col-md-4.card
      .pricing-header.mx-auto.text-center.py-2
        h2= "Medium"
        p Lorem ipsum sit dolor amet, balun bodor ser vemet talang.
    .col-md-4.card
      .pricing-header.mx-auto.text-center.py-2
        h2= "Corporate"
        p Lorem ipsum sit dolor amet, balun bodor ser vemet talang.
