<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Devugees: Introduction to JQuery</title>
        <script type="text/javascript">
            document.write('<link rel="stylesheet" type="text/css" href="assets/style.css?'+Math.random()+'" />');
        </script>        
    </head>
    <body style="display: none">

    <header>
        <nav>
            <ul>
                <li><a id="nav-about-me" href="#">ABOUT ME</a></li>
                <li><a id="nav-fav-city" href="#">MY FAVOURITE CITY</a></li>
                <li><a id="nav-fav-songs" href="#">MY FAVOURITE SONGS</a></li>
                <li><a id="nav-fav-contact" href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <div id="content">
        <div id="about-me">
            <h2> Hi, </h2>
            <p>
                My name is Jan and I am 32 years old. I live in Berlin and
                work as a freelance Web developer and lecturer. Currently,
                I try to teach students at Devugees.org, which is an institution
                which focuses on digital education.
            </p>
        </div>

        <div id="my-favourite-city" style="display: none">
            <h2> Berlin! </h2>
            <p>
                My name is Jan and I am 32 years old. I live in Berlin and
                work as a freelance Web developer and lecturer. Currently,
                I try to teach students at Devugees.org, which is an institution
                which focuses on digital education.
            </p>
        </div>

        <div id="my-favourite-songs" style="display: none">
            <h2> I love music! </h2>
            <p>
                Especially electronic music. Here are my three favourite songs:

                <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/niVXlaPkff8"
                        frameborder="0"
                        allowfullscreen>
                </iframe>
            </p>
        </div>

        <div id="contact" style="display: none">
            <h2> Contact Form </h2>
            <p>
                Feel free to send me a message.
            </p>
            <div>
                <input placeholder="Your Name" type="text" id="contact-name" style="margin-top: 10px"></input><br>
                <input placeholder="Your Email" type="text" id="contact-email" style="margin-top: 10px"></input><br>
                <textarea placeholder="Your Message" id="contact-message" style="margin-top: 10px; width: 300px; height: 180px"></textarea><br>
                <button id="send-contact">Send the request</button>
            </div>
        </div>        
    </div>

    <!-- TASK:

        Write a page about yourself.

        - Does not need to be responsive
        - When the document is loaded, all your content is slowly faded in
        - Include a header, a content and a footer
        - The navigation is located in the header and consists of three links
          "About me", "My favourite city", "My favourite songs"
          whereas the default behaviour is prevented and replaced by your own click events instead
        - All click events for the links change your main content accordingly
            - how you implement it, is up to you
        - When clicking a navigation link, your content changes with a JQuery animation of your choice

        "About me" -> 1 or 2 paragraphs about yourself
        "My favourite city" -> 1 paragraph about your city, including a nice picture
        "My favourite songs" -> Embed 2 or 3 Songs from Youtube in your page
                                (Google how to do that)

        - when the user presses the left arrow key, he will go back in navigation. i.e. if he is at "My favourite city", he will navigate to "About me"
        - when the user presses the right arrow key, he will go further in navigation, i.e. if he is at "My favourite city", he will navigate to "My favourite songs"

    -->
    </body>

    <script src="assets/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
		document.write('<scr'+'ipt src="assets/main.js?'+Math.random()+'" type="text/javascript"></scr'+'ipt>');
		</script>
    </body>
</html>
