<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo">YouTube</div>
        <div class="searchbox">
            <input type="text"><button>Search</button>
        </div>
        <div class="navigation-1">navigation-1</div>
    </div>
    <div class="navigation-2">navigation-2</div>
    <div class="main">
        <div class="start">
            <div class="teaser">teaser</div>
            <div class="ad">ad</div>
        </div>

        <div class="thumbnails">
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>
            <div class="thumbnail">thumbnail</div>             
        </div>
    </div>
</body>
</html>