<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="navigation-1">navigation-1</div>
        <div class="search-box">searchbox</div>      
    </div>
    <div class="navigation-2">navigation-2</div>
    <div class="main">
        <div class="left-sidebar">left sidebar</div>
        <div class="content">
            <div class="search-box">
                <input type="text" placeholder="search articles">
            </div>
            <div class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laborum dolore libero fuga eveniet reiciendis hic, vitae alias labore neque, placeat consectetur accusamus! Voluptate aperiam pariatur cum adipisci optio obcaecati reiciendis quam iste expedita aut laudantium, explicabo saepe fugit debitis dolores quibusdam nostrum et, possimus doloribus ut tenetur! Mollitia aperiam aliquid labore enim esse nesciunt tenetur maiores! Possimus quibusdam nobis expedita, ratione tempora, debitis corrupti laudantium architecto modi minus dolores necessitatibus, quas id? Minus quibusdam, eos esse dicta, ea exercitationem labore, dolorem quisquam fugiat rerum quaerat quo placeat aliquid tempore possimus culpa sequi rem. Optio odit deleniti fugiat corporis? Vero ratione, quos eveniet odit alias natus? Earum eum laborum delectus quis harum, architecto aliquam beatae unde ea, molestias sint impedit.</div>
            <div class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cupiditate iusto voluptatum odit numquam mollitia harum, in quam nobis totam magnam nesciunt accusantium ab recusandae hic maiores et dicta eos ratione, nisi aperiam tempora eligendi cumque natus. Tenetur harum, neque, ex quod veritatis praesentium iste vel velit dolor facilis veniam quos, suscipit optio porro ducimus molestias aut. Ab animi voluptates quaerat consectetur repudiandae ipsam velit enim alias! Harum, et. Vero mollitia itaque asperiores adipisci tenetur repudiandae, reprehenderit sint veritatis laboriosam. Provident ab odio voluptatibus eos tenetur cum dignissimos unde ex sunt. Explicabo deserunt laudantium neque molestias saepe ab excepturi voluptatum error, necessitatibus expedita? Iure error minus inventore cumque esse ab recusandae odit architecto voluptatum fugiat? Quos totam beatae eum illo!</div>
            <div class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eum quod cupiditate consequatur perspiciatis animi eos, recusandae rem, nesciunt esse itaque distinctio dolor nostrum, vero dolore aliquid voluptate. Suscipit quod nesciunt aspernatur consectetur sed beatae iure sunt reprehenderit vel veritatis quia hic repellat atque, repellendus nemo eligendi nostrum nihil voluptatem quis ullam? Eum magni exercitationem assumenda consequuntur libero earum vitae molestias quo doloribus fugiat praesentium, soluta dolor, delectus debitis minus, ipsum dolorem illo tenetur quaerat quod deserunt numquam minima at obcaecati? Suscipit asperiores esse tempore aliquam perspiciatis dicta accusamus repellat sint odio reiciendis, quod non. Fugit quo accusamus odit beatae id laudantium eaque, sequi repellat autem deserunt consectetur, sint veniam vero ipsam tempore ullam obcaecati eos aliquam optio perspiciatis officiis.</div>                        
        </div>
        <div class="right-sidebar">right sidebar</div>
    </div>
</body>
</html>