<!-- TODO: Help i'm ugly :-( -->

<!-- TODO: Display message only when logged out -->
<p>Welcome! Please <a href="/login">log in</a>.</p>
<!-- TODO: Display message only when logged in -->
<p>Hello, Username. View your <a href="/profile">profile</a>.</p>
