html
  head
    title Express controller architecture
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
  body
    .py-5
      .container.py-5
        .row
          .col-md-6.offset-md-3

            form.form-signin(method='POST', action='/addbook?alert=create')
              h3 Express controllers
              p Create a new Book and let the data be handled by a controller file. Check the console to see the payload.

              .mb-3
                label.sr-only(for='inputTitle') Title
                input#inputTitle.form-control(name='title', type='text', placeholder='Title', required='', autofocus='')

              .mb-3
                label.sr-only(for='inputContent') Content
                textarea#inputContent.form-control(name='content', type='password', placeholder='Content', required='')
              .mb-3
                label.sr-only(for='inputContent') Order
                input#inputOrder.form-control(name='order', type='number', placeholder='Order', required='', autofocus='')


              button.btn.btn-lg.btn-primary.btn-block(type='submit') Create


