extends ../layout.pug
block content
  .container.mt-5.text-left
    h1 About
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
