* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    background: #797979b2;
}

.logo {
    padding: 5px;
    font-size: 2em;
    background: rgb(240, 240, 240);
    color: #1a1a1a;
}

a {
    color: cornflowerblue;
}

.navigation {
    padding: 10px;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
}

.container {
    min-width: 600px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.thumbnail-container {
    display: flex;        
    justify-content: flex-start;
    flex-wrap: wrap;    
    padding: 10px;
    align-items: center;
    background: #4b4b4b;
    display: none;
}

.thumbnail {
    width: 250px;
    height: 180px;
    margin: 5px 10px;
    background: #1a1a1a;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.2), 0 6px 20px 0 rgba(31, 31, 31, 0.19);
}

.thumbnail-name {
    padding: 2px;
    text-decoration: underline;
    background: rgba( 240, 240, 240, 0.6 );
}

.thumbnail-price {
    font-weight: bold;
    padding: 2px;
    text-align: right;
    color: rgb(12, 12, 12);
    background: rgba( 240, 240, 240, 0.6 );
}

.product-details {
    background: #4b4b4b;
    display: none;
}

.product-container {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.product-image {
    padding: 0px 10px;
}

.product-image img {
    width: 320px;
    height: 260px;
}

.product-description {
    margin-top: 20px;
}

.product-buy {
    margin-top: 15px;
}

.quantity {
    width: 40px;
    font-size: 16px;
}

.btnaddcart {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 16px;
    padding: 4px;
}

.cart {
    background: #4b4b4b;
    padding: 10px;
}

.cart-item {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}

.total-amount {
    font-size: 26px;
}

.btnpurchaseorder {
    font-size: 26px;
}

.cart-picture {
    width: 170px;
    height: 130px;
}

.cart-description {
    font-size: 28px;
    padding: 12px;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-description button {
    display: block;
    margin-top: 5px;
    padding: 4px;
}

.remove-item {
    font-size: 22px;
    cursor: pointer;
}

.cart-break {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-buy {
    margin-left: 232px;
    margin-top: 20px;
}

.cart-totalamount {
    font-size: 26px;
}

.btnpurchaseorder {
    padding: 4px;
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    .container {
        min-width: auto;
    }

    .product-container {
        display: block;
    }

    .product-image img {
        width: 240px;
        height: 220px;  
    }

    .cart-item {
        display: block;
    }

    .cart-buy {
        margin-left: 0px;
    }
}