/* this document should be taught step by step */

/* here, go to apple.com and show the students
   how the content there is centered */
#container {
    width: 500px;
    margin: 0 auto;
}

form {
    background-image: url('images/red_background.jpg');
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form fieldset {
    background-image: url('images/blue_background.jpg');
    padding: 40px;
    border: solid 1px white;
}

form legend {
    border: solid 1px #333;
    background-image: url('images/blue_background.jpg');
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

/* they all now take their own line */
form input, form textarea {
    display: block;
    margin-bottom: 20px;
}

form label {
    font-size: 11px;
    text-transform: uppercase;
}

form input[type="text"], input[type="email"], form textarea {
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid 1px #b90707;
    background-image: url('images/red_background.jpg');
}

form textarea {
    width: 300px;
    height: 100px;    
}

form input[type="submit"] {
    border: none;
    background: url('images/button_background.jpg') top left repeat-x;
    height: 40px;
    padding: 0 20px;
    border: solid 1px #d4730c;
    color: white;
    font-weight: bold;
    cursor: pointer;
}