* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    background: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    margin: 0 0 20px;
}

p {
    margin: 10px 0;
}

/* sudo classes */
/* unvisited */
a:link {
    color: #f42aa6;
    text-decoration: none;
}

/* visited */
a:visited {
    color: #f42aa6;
}

a:hover {
    color: #a50578;
}

a:active {
    color: #000;
}

/* Specific link styles */


#link-1:hover {
    background: #333;
    color: white;
    padding: 5px;
    text-decoration: none;
}

#link-3:link {
    background: #f42aa6;
    color: white;
    padding: 5px;
}

#link-3:hover {
    background: #a50578;
    text-decoration: none;
}

#link-3:visited {
    color: white;
}

#link-4:hover {
    color: #333;
}